#categorie{
    font-size: 150%;
    background-color: rgb(161, 161, 161);
    border-radius: 5px;
    color: white;
}
#sexe{
    font-size: 150%;
    background-color: rgb(161, 161, 161);
    border-radius: 5px;
    color: white;
}