<body>
    <h1>DOMOVIA</h1>
    <app-main-banner></app-main-banner>
    <h2>Inscription</h2>
    <form (submit)="onSubmit()" class="form-example">
        <label for="name">Pseudonyme :</label>
        <input type="text" name="name" id="name" [(ngModel)]="user.name" required /><br>
    
        <label for="mail">Mail :</label>
        <input type="email" name="mail" id="mail" [(ngModel)]="user.mail" required /><br>
    
        <label for="password">Mot de passe :</label>
        <input type="password" name="password" id="password" [(ngModel)]="user.password" required /><br>
    
        <label for="categorie">Type de membre :</label>
        <select name="categorie" id="categorie" [(ngModel)]="user.categorie" required>
            <option value="">-- Sélectionnez un type --</option>
            <option value="enfant">Enfant</option>
            <option value="parent">Parent</option>
            <option value="grand-parent">Grand-Parent</option>
            <option value="invite">Invité</option>
        </select><br>
    
        <button type="submit" id="submit-btn" class="submit-btn">Soumettre mon inscription</button>
    </form>    
    <app-pied-de-page></app-pied-de-page>
</body>
