<button class="menu-button">☰</button>
<div class="banner" [ngClass]="{'show': isBannerVisible}">
    <span class="status-icon">{{statut}}</span>
    <span class="nom">{{nom_utilisateur}}</span>
    <img [src]="photoURL" alt="Photo de profil" class="profile-photo">
    <app-modif-photo></app-modif-photo>
    <div class="container" *ngIf="est_connecter">
        <button (click)="deconnexion()">Se déconnecter</button>
        <button routerLink="/admin">Admin</button>
    </div>
    <div class="container" *ngIf="!est_connecter">
        <button routerLink="/connexion">Se connecter</button>
        <button routerLink="/inscription">S'inscrire</button>
    </div>
    <div class="container">    
        <button routerLink="/information">Informations</button>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
      let menuButton = document.querySelector(".menu-button");
      let banner = document.querySelector(".banner");
  
      // Clic sur le bouton menu pour afficher/masquer la bannière
      menuButton.addEventListener("click", function () {
          banner.classList.toggle("show");
      });
    });
</script>