.container {
    display: flex; /* Active Flexbox pour aligner les boutons */
    flex-wrap: wrap; /* Permet aux boutons de passer à la ligne si nécessaire */
    justify-content: center; /* Centre les boutons horizontalement */
    align-items: center; /* Centre les boutons verticalement */
    gap: 10px; /* Espacement entre les boutons */
    margin-bottom: 10px;
}
.banner {
    background-color: rgb(75, 75, 75);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 13px;
    display: flex;
    flex-wrap: wrap; /* Permet de gérer les débordements */
    justify-content: space-between; /* Espacement entre les éléments */
    align-items: center; /* Aligne les éléments verticalement */
    gap: 10px; /* Espacement entre les éléments */
}
.banner button {
    background-color: rgb(92, 92, 92);
    color: white;
    font-size: 23px;
    padding: 10px;
    border-radius: 13px;
    border: none; /* Supprime les bordures */
    cursor: pointer;
}
.menu-button {
    background-color: rgb(92, 92, 92);
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 13px;
    cursor: pointer;
    display: none; /* Caché par défaut */
}
.status-icon{
    margin-right: 20px;
}
.profile-photo {
    width: 40px; /* Ajustez la taille selon vos besoins */
    height: 40px; /* Ajustez la taille selon vos besoins */
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px; /* Espace entre la photo et le texte */
}
/* Mode mobile : cache la bannière et affiche le bouton menu */
@media screen and (max-width: 600px) {
    .banner {
        display: none; /* Caché par défaut */
        flex-direction: column;
    }

    .menu-button {
        display: block; /* Affiché sur mobile */
        width: 100%;
    }
}

/* Affichage de la bannière quand elle est active */
.banner.show {
    display: flex;
}