<div *ngIf="isadmin">
  <h2>Module d'administration</h2>
  <h3>Liste des utilisateurs</h3>
  <table>
    <thead>
      <tr>
        <th>Pseudonyme</th>
        <th>Mail</th>
        <th>Etat</th>
        <th>Niveau</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.mail }}</td>
        <td>{{ user.etat }}</td>
        <td>  <button (click)="changeLevel(user, -1)">-1</button>
              {{ user.level <= 0 ? 0 : user.level }}
              <button (click)="changeLevel(user, 1)">+1</button>
              points: 
              {{user.points}}
        </td>
        <td>
            <button *ngIf="user.level<=-2" (click)="Valider_Inscription(user.mail)">valider l'inscription</button>
            <button *ngIf="user.level<=2" (click)="ModifierProfil(user.mail)">Modifier le profil</button>
        </td>
      </tr>
    </tbody>
  </table>
  <h3>Historique de connexions</h3>
  <table>
    <thead>
      <th>Pseudonyme</th>
      <th>Mail</th>
      <th>Connexion/Deconnexion</th>
      <th>Horaire</th>
    </thead>
    <tbody>
      <tr *ngFor="let history_log of history_logs">
        <td>{{history_log.name}}</td>
        <td>{{history_log.mail}}</td>
        <td [ngStyle]="{ color: history_log.type === 'connexion' ? 'green' : 'red' }">
          {{ history_log.type }}
        </td>
        <td>{{ history_log.temps | date:'short' }}</td>
      </tr>
    </tbody>    
  </table>
  <button (click)="EffacerHistorique();">Effacer l'historique</button>
</div>

