/* Style de base pour le tableau */
table {
  width: 100%;
  border-radius: 7px;
  background-color: white;
  border-collapse: collapse;
  margin: 20px 0;
}

/* Adaptation pour les petits écrans (moins de 600px de largeur) */
@media screen and (max-width: 600px) {
  table {
    width: 100%; /* Le tableau prend toute la largeur */
    font-size: 12px; /* Réduit la taille de la police pour les petits écrans */
  }

  /* Ajout d'une bordure fine autour des cellules pour une meilleure lisibilité */
  th, td {
    padding: 8px; /* Espacement entre le texte et les bordures */
    border: 1px solid #ddd;
    text-align: left;
    display: block; /* Transforme les cellules en blocs pour éviter qu'elles ne débordent */
    width: 100%; /* Chaque cellule prend toute la largeur */
  }
  /* Empêche les bordures de se chevaucher */
  th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase; /* Optionnel, pour plus de lisibilité */
  }

  /* Optionnel : Ajouter un défilement horizontal si nécessaire */
  .table-wrapper {
    overflow-x: auto; /* Permet de défiler horizontalement */
    -webkit-overflow-scrolling: touch; /* Meilleure expérience sur iOS */
  }
}

th, td {
  border: 1px solid #b3b3b3;
  padding: 8px;
}

th {
  background-color: #b3b3b3;
  text-align: left;
}