<body>
    <h1>DOMOVIA</h1>
    <app-main-banner></app-main-banner>
    <h2>Connexion</h2>
    <p>Veuillez vous connecter via le formulaire suivant : </p>
    <form (submit)="onSubmit()" class="form-example">
        <label for="mail">Mail :</label>
        <input type="email" name="mail" id="mail" [(ngModel)]="user.mail" required/><br />
      
        <label for="password">Mot de passe :</label>
        <input
          type="password"
          name="password"
          id="password"
          [(ngModel)]="user.password"
          required
        /><br />
      
        <button type="submit" id="submit-btn" class="submit-btn">
          Se connecter
        </button>
      </form>
      <app-pied-de-page></app-pied-de-page>
</body>