<body>
    <h1>DOMOVIA</h1>
    <button class="menu-button">☰</button>
    <div class="banner">
        <button routerLink="/information">Informations</button>
        <button routerLink="/inscription">S'inscrire</button>
        <button routerLink="/connexion">Se connecter</button>
    </div>
    <h2>ACCUEIL</h2>
    <p>DOMOVIA, votre future plateforme de maison intelligente</p>
    <img src="assets/img/maison_connecter.jpg" alt="Maison connectée" loading="lazy" style="width: 50%; display: block; margin: 0 auto;">
    <footer>
        <p>&copy; 2025 Domovia</p>
    </footer>
</body>